// Specific CSS for your home-page
.project-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.portfolio-header {
  text-align: center;
  margin: 75px 0 50px 0;
}

.project-card {
  box-shadow: 5px 5px 15px 0px rgba(128,128,128,1);
  width: 300px;
  height: 200px;
  margin-bottom: 30px;
  position: relative;
}

.project-image {
  display: block;
  width: 100%;
  height: auto;
}

.project-description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #3C4043;
}

.project-card:hover .project-description {
  opacity: 1;
}

.project-card-text {
  color: white;
  font-size: 20px;
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.final-cta {
  width: 100%;
  margin: 100px 0;
  text-align: center;
  h1 {
    margin-bottom: 50px;
  }
}
