<%= render partial: 'shared/navbar' %>
<div class="content">
  <div class="home-banner">
    <div class="container">
      <div class="left-banner-content">
        <h1>
          <span id="banner-typed-name" style="white-space:pre"></span>
        </h1>
      </div>
      <div class="avatar"></div>
    </div>
  </div>

  <div class="container">
    <div class="portfolio-header">
      <h2>Portfolio</h2>
      <p>Projects completed during the Le Wagon Bootcamp and since.</p>
    </div>
    <div class="project-grid">
      <%= link_to 'http://www.sustainable-app.com/' do %>
        <div class="project-card">
          <img src="sustainable.png" class="project-image">
          <div class="project-description">
            <p class="project-card-text">SustainABLE: Job board for entry level developers and mission driven companies.</p>
          </div>
        </div>
      <% end %>
      <%= link_to 'https://animal-kingdom-kathrin298.herokuapp.com/' do %>
        <div class="project-card">
          <img src="animal-kingdom.png" class="project-image">
          <div class="project-description">
            <p class="project-card-text">Animal Kingdom: Marketplace app to rent exotic animals for private events.</p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
